/*golbal config & base class*/

    $bottomNavHeight: 48;       //底导航高度
    $mainColor: #3b3c3e;        //主要颜色
    $minorColor: #9c9fa4;       //次要颜色
    $dangerColor: #a94442;      //警告文本颜色
    $lineColor: #d9d9d9;        //分割线颜色

    $colorA: #add536;           //绿
    $colorB: #72a4bb;           //蓝
    $colorC: #d5b936;           //黄
    $colorD: #d54936;           //红
    $colorE: #6c6669;           //灰

// All
	.btn {
        display: block;
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 20px 0;
        border-radius: 4px;
        border: 1px solid transparent;
        text-align: center;
        user-select: none;
	}

    .btn-default {
        @extend .btn;
        background-color: #fff;
        border-color: #ccc;
        color: #333;
    }
    .btn-default:active {
        background-color: #e6e6e6;
        border-color: #adadad;
    }
    .btn-success {
        @extend .btn;
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: #fff;
    }
    .btn-success:active {
        background-color: #4cae4c;
    }
    .btn-danger {
        @extend .btn;
        background-color: #d9534f;
        border-color: #d43f3a;
        color: #fff;
    }
    .btn-danger:active {
        background-color: #d43f3a;
    }

    .card {
        background-color: #fff;
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 0 1px #ccc;
        overflow: hidden;
    }

// Line
    .line {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        margin: auto;
        color: $lineColor;
        transform: scaleY(0.5);
    }
    .line-top {
        @extend .line;
        top: 0;
        transform-origin: 0 0;
        border-top: 1px solid $lineColor;
    }
    .line-bottom {
        @extend .line;
        bottom: 0;
        transform-origin: 0 100%;
        border-bottom: 1px solid $lineColor;
    }
    .line-vertical {
        position: absolute;
        content: " ";
        width: 1px;
        height: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        color: $lineColor;
        transform: scaleX(0.5);
    }
    .line-left {
        @extend .line-vertical;
        left: 0;
        transform-origin: 0 0;
        border-left: 1px solid $lineColor;
    }
    .line-right {
        @extend .line-vertical;
        right: 0;
        transform-origin: 100% 0;
        border-right: 1px solid $lineColor;
    }

// Error shake
    .shake {
        animation: shake linear .4s;
    }
    @keyframes shake {
        0% {
            transform: translateX(-10px);
        }
        20% {
            transform: translateX(8px);
        }
        40% {
            transform: translateX(-6px);
        }
        60% {
            transform: translateX(4px);
        }
        80% {
            transform: translateX(-2px);
        }
        100% {
            transform: translateX(0);
        }
    }

// Transition
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }
    .fade-enter, .fade-leave-active {
        opacity: 0;
    }
